<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
  Who is your State Senator?
</p>
<p>
  I’ll betcha don’t know.
</p>
<p>
  When I realized that I didn't know who mine was, I was kind of surprised. You see, I’m a fairly engaged citizen and have been politically for over 15 years. I am engaged enough to follow news from multiple sources just to make sure I hear from all sides of the story. 
</p>
<p>
  But, I didn't even know who my local State Senator was and I wanted to understand why. 
</p>
<p>
  One reason is that the vast majority of news from major sources is focused on national issues, not state and local. However, the things that impact me most in terms of day-to-day life are local. 
</p>
<p>
  That seems a bit backwards to me.
</p>
<p>
  ----
</p>
<p>
  Another thing that seems broken in our current system is the ratio of signal to noise in the information we consume. 
</p>
<p>
  In the era of 24/7 news sensationalism is more important than truth. "News" devolves into pundits from opposite ends of the political spectrum yelling at each other to create tension and elicit emotional responses from viewers. 
</p>
<p>
  It really is just entertainment under the guise of news. I don't think "Fake News" is a thing in a literal sense, but you'd have to be pretty naieve to not understand why the phrase stuck. 
</p>
<p>
  ----
</p>
<p>
  Wanting to reduce the signal-to-noise ratio, I thought: "Why not just go straight to the source?" In this case, the "source" is the set of people who represent you in governemnt. Figuring out who those people are is the first step in changing the government.
</p>
<p>
  Enter your address and phone number here and I’ll use your address to search Google Civic API to show you everyone that represents you in the United States government.
</p>
<p>
  [[ FORM ]]
</p>
<p>
  [[ SHOWS UP AFTER THEY CLICK SUBMIT ]]
</p>
<p>
  Now that we know who represents us, we should orient ourselves to what they do. Again, let’s just go straight to the source. Who do you want to follow? 
</p>
<p>
  [[ GALLARY OF OFFICIALS ]]
</p>
<p>
            Name, 
            Official Title,
            Poltical Party
</p>
<p>
  Next, select your favorite platforms and we'll automatically connect you to them so you know what they are up to.
</p>
<p>
  [[FB, Instagram, Twitter, Snapchat, Email Newsletter]]
</p>
<p>
  ----
</p>
<p>
  News sources still have their purpose! 
</p>
<p>
  Politicians will always spin things to paint themselves in the best light, so I want some third-party analysis. And I’m sure you do too. But, I don’t want to be inundated with all their noise and banter. I want to regulate the flow of information.
</p>
<p>
  The first step is deciding where you want to source your third-party analysis. I encourage you to subscribe to at least one or two that you aren't used to, just for a little diversity of thought.
</p>
<p>
  [[List of News Sites]]
</p>
<p>
  Next, what issues do you care about and how much do you care about each issue? This will help us prioritize getting you the news you care most about.
</p>
<p>
  [[Drag and Drop Issues from List to Pie Chart with editable allocation percentages]]
</p>
<p>
  Finally, how often do you want to be notified about the latest news - from every minute of every hour to a monthly summary and everything in between. 
</p>
<p>
  [[Select delivery frequency]]
</p>
<p>
  ----
</p>
<p>
  It's one thing to know what people are saying - but an entirely different thing to know how people are voting. 
</p>
<p>
  So, I also made nifty toolbar that shows you how your representative voted on bills you care about. 
</p>
<p>
  I didn't want it to be annoying, so it only shows up when you're on a social media or news website - when I care the most.
</p>
<p>
  [[Download Toolbar]]
</p>
<p>
  The toolbar makes it super easy to see how your elected officials are voting on bills related to issues you care about. 
</p>
<p>
  It also lets you call your elected official with a single click. If you like how they voted then you can call and tell them to keep up the good work! Trust me, they love hearing how good of a job they are doing. 
</p>
<p>
  And, if your elected official voted differently than how you want, make sure they know that too!
</p>
<p>
  It’s amazing how much time I spent posting about the news of the day on social media contrasted to how little time I actually spent doing anything. Now I can talk about what I did rather than merely complain and troll random strangers online.
</p>
<p>
  [[Share on Social Media buttons]]
</p>
<p>
  ----
</p>
<p>
  If that elected official still isn't stepping up it might be time to replace them. 
</p>
<p>
  In order to do that it's important to [[register to vote]]
</p>
<p>
  The toolbar will give you a notice when elections are coming up so you can get involved, donate, or maybe even run for something yourself!
</p>
<p>
  And, of course, we'll remind you when and where to vote. :)
</p>
<p>
  ----
</p>
<p>
  The last feature of the toolbar is meant to give you a voice.
</p>
<p>
  Congress has something like a 7% approval rating. Nearly all Americans agree that government is so polarized and partisan that it’s basically worthless. This makes us look stupid in the eyes of the world and Americans are smarter than that. 
</p>
<p>
  We agree on vastly more than we disagree on.
</p>
<p>
  The toolbar lets each person cast a single anonymous and public vote, and make a single statement on any issue they want.
</p>
<p>
  You can change your vote at any time. In fact, we encourage it. Soak in new information. Question assumptions. You should be discussing issues with friends, staying informed, ane evolving your perspectives. 
</p>
<p>
  Votes are recorded on the blockchain. So, you get all the security and privacy features along with the benefit of a decentralized system.
</p>
<p>
  Voter sentiment can be filtered and grouped by congressional district, state, national levels, as well as by political party. The full spectrum of political thought can be put on display through a signle statement that each voter is able to make when casting their vote.
</p>
<p>
  With widespread adoption and sufficient identity management, we could build an authoritative and decentralized voter sentiment model available to the public domain. 
</p>
<p>
  We can show the world that “we the people", on a district by district level, aren't as stupid as our government and political environment currently makes us look. 
</p>
<p>
  We are unified on most issues, and through this technology, we can prove it.
</p>
<p>
  ----
</p>
<p>
  VISION OF THE FUTURE
</p>
<p>
  This underlying technology has applications outside the political space. 
</p>
<p>
  Applying blockchain technology to voting system is an ideal use case that is issue agnostic and scales well. It works just as well electing a youth soccer team coach as it does the President of the United States. 
</p>
<p>
  Americans will insist on an online voting system in the future. An online voting platform with a proven track record and established goodwill with the public will be well positioned as an authoritative vendor to provide that solution.
</p>
